@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

section{
	
}

#flexbox{
	width: 1500px;
	height: 67px;
	background-color: #D57878;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	flex-wrap: wrap;
}

.flexcolumn1{
	width: 1500px;
	height: 31px;
	background-color: #B88B6A;
	display: flex;
	justify-content: space-evenly;
	margin-top: 82px;
	margin-bottom: 82px;
	flex-wrap: wrap;
}

.flexcolumn2{
	width: 1500px;
	height: 55px;
	background-color: #743939;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	bottom: 0;
	position: absolute;
}

.flexcolumn3{
	width: 320px;
	height: 540px;
	background-color: #CEB2A1;
	margin-top: 128px;
	margin-left: 28px;
	position: absolute;
	left: 0;
}

.flexcolumn4{
	width: 320px;
	height: 540px;
	background-color: #CEB2A1;
	margin-top: 128px;
	margin-left: 420px;
	position:absolute;
	left: 0;
}

.flexcolumn5{
	width: 330px;
	height: 540px;
	background-color: #CEB2A1;
	margin-top: 128px;
	margin-right: 410px;
	position: absolute;
	right: 0;
}

.flexcolumn6{
	width: 320px;
	height: 540px;
	background-color: #CEB2A1;
	margin-top: 128px;
	margin-right: 28px;
	position:absolute;
	right: 0;
}